@media screen and (min-width: 1024px) {
  * {
    background-color: #2e4d5e;
    overflow: hidden;
    margin: 2px;
  }

  .page_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    align-items: center;
    justify-items: center;
  }

  .left_side {
    padding: 20px;
    border-radius: 20px;
    background-color: #d9d9d9;
    box-shadow: #1d2e38 5px 5px 5px;
  }

  .title {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #2e4d5e;
    text-align: center;
    margin-bottom: 10px;
    background-color: transparent;
  }

  .video_container {
    border-radius: 20px;
    box-shadow: black 5px 5px 5px;
    width: 560px;
    height: 315px;
  }

  #quote {
    font-size: 1.8rem;
    color: #d9d9d9;
  }

  #author_name {
    color: #d9d9d9;
    text-align: right;
    margin-right: 50px;
    margin-top: 15px;
  }

  .header_icon:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1023px) {
  * {
    background-color: #2e4d5e;
    overflow: hidden;
    margin: 2px;
  }

  .page_section {
    display: grid;
    grid-template-rows: 60% 40%;
    height: 100vh;
    align-items: center;
    justify-items: center;
  }

  .left_side {
    padding: 20px;
    border-radius: 20px;
    background-color: #d9d9d9;
    box-shadow: #1d2e38 5px 5px 5px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #2e4d5e;
    text-align: center;
    margin-bottom: 10px;
    background-color: transparent;
  }

  .video_container {
    border-radius: 20px;
    width: 336px;
    height: 189px;
  }

  .right_side {
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #quote {
    font-size: 1.2rem;
    color: #d9d9d9;
    text-align: center;
  }

  #author_name {
    color: #d9d9d9;
    text-align: right;
    margin-right: 50px;
    margin-top: 15px;
  }

  .header_icon:hover {
    transform: scale(1.1);
  }
}
